.table-bordered > :not(caption) > * {
  border-width: 0;
}

.table {
  --bs-table-hover-color: white;
  width: 100%;
  height: 10rem;
  display: -moz-groupbox;
}

tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

.row-transition {
  transition: ease-in-out 0.1s;
}

tbody > tr:hover {
  cursor: pointer;
}

tbody {
  overflow-y: scroll;
  height: 39.5rem;
  position: absolute;
  width: 96%;
  color: white;
  text-align: center;
}
