@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "src/assets/styles/custom-variables";
@import '~react-datepicker/dist/react-datepicker.min.css';
@import '~react-toastify/dist/ReactToastify.css';
@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import "client-side-navbar";
@import "main-container";
@import "new-transfer-form";
@import "table";
@import "recent-transfers";
@import "account-view";

body,html{
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: overlay;
  font-size: 18px;
  height: 100%;
}

hr:not([size]){
  height: 1px;
  opacity: 1;
}

.all-sides-0{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.left-40{
  left: 33%;
}

.top-left-0{
  top: 0;
  left: 0;
}
.bg-light-blue{
  background-color: $light-blue;
}
.obj-fit-cover{
  object-fit: cover;
}
//blob
.blob{
  background-image: url("../../../assets/images/blob.svg") ;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}

.blob-dark{
  background-image: url("../../../assets/images/blob-dark.svg") ;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}

.blob-primary{
  background-image: url("../../../assets/images/blob-primary.svg") ;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}

//navs
.bx-shadow-dark{
  box-shadow: 0 4px 4px rgba(41, 43, 44, 0.61);
}
.bx-shadow-primary{
  box-shadow: 0 4px 4px rgba($primary, 0.61);
}
.bx-shadow-primary-dark{
  box-shadow: 0 4px 4px rgba($primary, 0.61);
}
.bx-shadow-light{
  box-shadow: 0 4px 4px rgba($light, 0.61);
}
.bx-shadow-secondary{
  box-shadow: 0 4px 4px rgba(154, 154, 154, 0.61);
}

//backgrounds
.bg-employee-login{
  background-image: url("../../images/bg-employee-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

//Fonts

.font-poppins{
  font-family: "Poppins", serif;
}

.font-size-2rm{
  font-size: 2rem;
}

.font-color-light{
  color:$light;
}

.font-color-light:hover{
  color:$light;
}

.font-weight-bold{
  font-weight: bold;
}

.font-weight-extra-bold{
  font-weight: bolder;
}

.font-weight-extra-normal{
  font-weight: 500;
}

.font-italic{
  font-style: italic;
}

//Depth
.z-1000{
  z-index: 1000;
}
.z-2000{
  z-index: 2000;
}
.z-3000{
  z-index: 3000;
}
.bg-video{
  z-index: -1;
}

//heights
.mh-25px{
  max-height: 25px;
}
.mh-50px{
  max-height: 50px;
}
.mh-500px{
  max-height: 500px;
}
.mh-300px{
  max-height: 300px;
}
.mh-200px{
  max-height: 200px;
}
.mh-400px{
  max-height: 400px;
}
.mh-600px{
  max-height: 600px;
}

.mh-700px{
  max-height: 700px;
}

.mh-800px{
  max-height: 800px;
}

.mnh-50px{
  min-height: 50px;
}
.mnh-44px{
  min-height: 44px;
}
.mnh-35px{
  min-height: 35px;
}
.mnh-100px{
  min-height: 100px;
}
.mnh-500px{
  min-height: 500px;
}
.mnh-300px{
  min-height: 300px;
}
.mnh-200px{
  min-height: 200px;
}
.mnh-400px{
  min-height: 400px;
}
.mnh-600px{
  min-height: 600px;
}
.mnh-700px{
  min-height: 700px;
}
.mnh-750px{
  min-height: 750px;
}
.mnh-800px{
  min-height: 800px;
}

.h-60px{
  height: 60px;
}

.h-50px{
  height: 50px;
}

.h-10{
  height: 10%;
}

.h-20{
  height: 20%;
}

.h-30{
  height: 30%;
}

.h-40{
  height: 40%;
}

.h-60{
  height: 60%;
}

.h-70{
  height: 70%;
}

.h-80{
  height: 80%;
}

.h-90{
  height: 90%;
}

//widths

.mw-200px{
  max-width: 200px;
}
.w-250px{
  width: 250px;
}
.w-180px{
  width: 180px;
}
.w-190px{
  width: 190px;
}
.w-200px{
  width: 200px;
}

.w-160px{
  width: 160px;
}

.w-10{
  width: 10%;
}

.w-20{
  width: 20%;
}

.w-30{
  width: 30%;
}
.w-35{
  width: 35%;
}

.w-40{
  width: 40%;
}

.w-60{
  width: 60%;
}

.w-70{
  width: 70%;
}

.w-80{
  width: 80%;
}

.w-90{
  width: 90%;
}


//Cards
.rounded-card-10{
  border-radius: 10px;
}
//Buttons
.btn-primary-hover:hover{
  background-color: $primary-dark;
}

.btn-light-hover:hover{
  background-color: $secondary;
  color: $light;
}


//Select Options
.select {
  background-position: right;
  background-repeat: no-repeat;
  background-size: 28px;
  background-color: #FFFFFF;
  -webkit-appearance: none;
  text-align: left;
}
.select-hover option{
  border-radius: 10px;
}
.select-hover option:checked{
  background-color: $primary-light;
}
.select-establishment{

}
.select-hour{

}
.select-date{

  height: 40px;
}

.select-date{

  height: 40px;
}

.custom-select{
  background-image: none;
  -webkit-appearance: none;
  text-align: left;
}

//DatePicker
.react-datepicker {
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  border-radius: 4px;
}
.react-datepicker-popper {
  z-index: 2000;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: 1px solid $secondary;
}

.react-datepicker__today-button {
  background-color: white;
  font-weight: normal;
  border-top: 1px solid $secondary;
  color: $primary-light;
}

.react-datepicker__day--today {
  font-weight: normal;
  background-color: white;
}

.react-datepicker__day:hover {
  border-radius: 0;
  background-color: $primary-light;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover {
  border-radius: 0;
  background-color: $primary;
  color: #fff;
}


//Scrollbar
::-webkit-scrollbar{
  height: 8px;
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track{
  height: 8px;
  width: 10px;
  background-color: transparent;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb{
  background-color: $primary-dark;
  border-radius: 8px;
}

::-webkit-scrollbar-corner{
  background-color: transparent;
}

.transparent-scrollbar::-webkit-scrollbar{
  background-color: transparent;
  width: 6px;

}
.transparent-scrollbar::-webkit-scrollbar-track{
  background-color: transparent;
  width: 6px;
}
.transparent-scrollbar::-webkit-scrollbar-corner{
  background-color: transparent;
}

.thumb-success::-webkit-scrollbar-thumb{
  background-color: $success;
}
.thumb-primary::-webkit-scrollbar-thumb{
  background-color: $primary;
}
.thumb-dark::-webkit-scrollbar-thumb{
  background-color: $dark;
}
.thumb-light::-webkit-scrollbar-thumb{
  background-color: $light;
}
.thumb-info::-webkit-scrollbar-thumb{
  background-color: $info;
}
.thumb-secondary::-webkit-scrollbar-thumb{
  background-color: $secondary;
}
.thumb-danger::-webkit-scrollbar-thumb{
  background-color: $danger;
}
.thumb-warning::-webkit-scrollbar-thumb{
  background-color: $warning;
}

.thumb-magenta::-webkit-scrollbar-thumb{
  background-color: $magenta;
}
.thumb-salmon::-webkit-scrollbar-thumb{
  background-color: $salmon;
}
.thumb-taupe::-webkit-scrollbar-thumb{
  background-color: $taupe;
}
.thumb-teal::-webkit-scrollbar-thumb{
  background-color: $teal;
}
.thumb-berry-red::-webkit-scrollbar-thumb {
  background-color: $berry-red;
}


//margins

.me-125{
  margin-right: 125px;
}

.ml-125{
  margin-left: 125px;
}
.ml-250{
  margin-left: 250px;
}
.me-50{
  margin-right: 50px;
}

.pl-240{
  padding-left: 240px;
}

//disabled button
.rounded-card-10.btn-light.btn-light-hover.w-160px.h-50px:disabled {
  color: $light;
  background-color: $secondary;
  opacity: 1;
}

//
.disabled-input:disabled{
  background-color: $taupe !important;
  opacity: 50%;
}

//imitating button
.btn-pointer{
  cursor: pointer;
}

//number input
.primary-number-input::-webkit-inner-spin-button,.primary-number-input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

//records
.client:hover{
  background-color: $primary !important;
  color: $dark !important;
  font-weight: bold;
}

.latest-client:hover{
  background-color: $light !important;
  color: $dark !important;
}

.visitNotAssigned:hover{
  background-color: $dark !important;
}

.announcement:hover{
  background-color: $dark !important;
  color: $light !important;
}

.order-primary:hover{
  border: 1px solid $light !important;
  background-color: $dark !important;
  color: $primary!important;
}
.order-info:hover{
  border: 1px solid $light !important;
  background-color: $dark !important;
  color: $info!important;
}
.order-success:hover{
  border: 1px solid $light !important;
  background-color: $dark !important;
  color: $success!important;
}
.order-warning:hover{
  border: 1px solid $light !important;
  background-color: $dark !important;
  color: $warning!important;
}
.order-secondary:hover{
  border: 1px solid $light !important;
  background-color: $dark !important;
  color: $secondary!important;
}

.employee-dark:hover{
  background-color: $light !important;
  color: $dark!important;
}
.employee-secondary-dark:hover{
  background-color: $light !important;
  color: $secondary-dark!important;
}
.employee-primary:hover{
  border: 1px solid $dark !important;
  background-color: $primary !important;
}

.text-shadow-black{
  text-shadow: black 2px 2px 2px;
}

.my-container{
  width: 100vw !important;
  height: 100% !important;
  position: fixed !important;
  z-index: 0;
  overflow-y: scroll;
}

.client-active{
  background-color: $warning !important;
}

.submit-disabled{
  background-color: $secondary-dark !important;
}


