@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "src/assets/styles/custom-variables";
@import '~react-datepicker/dist/react-datepicker.min.css';
@import '~react-toastify/dist/ReactToastify.css';

body,html{
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: overlay ;
  height: 100%;
}

hr:not([size]){
  height: 1px;
  opacity: 1;
}

.all-sides-0{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.top-left-0{
  top: 0;
  left: 0;
}
.bg-light-blue{
  background-color: $light-blue;
}
.obj-fit-cover{
  object-fit: cover;
}

//navs

.bx-shadow-dark{
  box-shadow: 0 4px 4px rgba(41, 43, 44, 0.61);
}
.bx-shadow-secondary{
  box-shadow: 0 4px 4px rgba(154, 154, 154, 0.61);
}

//backgrounds

.bg-employee-login{
  background-image: url("../../images/bg-employee-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

//Fonts

.font-poppins{
  font-family: "Poppins", serif;
}

.font-size-2rm{
  font-size: 2rem;
}

.font-color-light{
  color:$light;
}

.font-color-light:hover{
  color:$light;
}

.font-weight-bold{
  font-weight: bold;
}

.font-weight-extra-bold{
  font-weight: bolder;
}

.font-weight-extra-normal{
  font-weight: 500;
}

.font-italic{
  font-style: italic;
}

//Depth
.z-1000{
  z-index: 1000;
}
.z-2000{
  z-index: 2000;
}
.bg-video{
  z-index: -1;
}

//heights
.mh-50px{
  max-height: 50px;
}
.mh-500px{
  max-height: 500px;
}
.mh-300px{
  max-height: 300px;
}
.mh-200px{
  max-height: 200px;
}
.mh-400px{
  max-height: 400px;
}
.mh-600px{
  max-height: 600px;
}

.mnh-50px{
  min-height: 50px;
}
.mnh-100px{
  min-height: 100px;
}
.mnh-500px{
  min-height: 500px;
}
.mnh-300px{
  min-height: 300px;
}
.mnh-200px{
  min-height: 200px;
}
.mnh-400px{
  min-height: 400px;
}
.mnh-600px{
  min-height: 600px;
}

.h-60px{
  height: 60px;
}

.h-50px{
  height: 50px;
}

.h-10{
  height: 10%;
}

.h-20{
  height: 20%;
}

.h-30{
  height: 30%;
}

.h-40{
  height: 40%;
}

.h-60{
  height: 60%;
}

.h-70{
  height: 70%;
}

.h-80{
  height: 80%;
}

.h-90{
  height: 90%;
}

//widths

.mw-200px{
  max-width: 200px;
}
.w-250px{
  width: 250px;
}
.w-180px{
  width: 180px;
}

.w-160px{
  width: 160px;
}

.w-10{
  width: 10%;
}

.w-20{
  width: 20%;
}

.w-30{
  width: 30%;
}

.w-40{
  width: 40%;
}

.w-60{
  width: 60%;
}

.w-70{
  width: 70%;
}

.w-80{
  width: 80%;
}

.w-90{
  width: 90%;
}


//Cards
.rounded-card-10{
  border-radius: 10px;
}
//Buttons
.btn-primary-hover:hover{
  background-color: $primary-dark;
}

.btn-light-hover:hover{
  background-color: $secondary;
  color: $light;
}


//Select Options
.select {
  background-position: right;
  background-repeat: no-repeat;
  background-size: 28px;
  background-color: #FFFFFF;
  -webkit-appearance: none;
  text-align: left;
}
.select-hover option{
  border-radius: 10px;
}
.select-hover option:checked{
  background-color: $primary-light;
}
.select-establishment{

}
.select-hour{

}
.select-date{

  height: 40px;
}

.select-date{

  height: 40px;
}

.custom-select{
  background-image: none;
  -webkit-appearance: none;
  text-align: left;
}

//DatePicker
.react-datepicker {
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  border-radius: 4px;
}
.react-datepicker-popper {
  z-index: 3;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: 1px solid $secondary;
}

.react-datepicker__today-button {
  background-color: white;
  font-weight: normal;
  border-top: 1px solid $secondary;
  color: $primary-light;
}

.react-datepicker__day--today {
  font-weight: normal;
  background-color: white;
}

.react-datepicker__day:hover {
  border-radius: 0;
  background-color: $primary-light;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover {
  border-radius: 0;
  background-color: $primary;
  color: #fff;
}


//Scrollbar
::-webkit-scrollbar{
  height: 8px;
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track{
  height: 8px;
  width: 10px;
  background-color: transparent;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb{
  background-color: $primary-dark;
  border-radius: 8px;
}

::-webkit-scrollbar-corner{
  background-color: transparent;
}

.transparent-scrollbar::-webkit-scrollbar{
  background-color: transparent;
  width: 6px;

}
.transparent-scrollbar::-webkit-scrollbar-track{
  background-color: transparent;
  width: 6px;
}
.transparent-scrollbar::-webkit-scrollbar-corner{
  background-color: transparent;
}

.thumb-success::-webkit-scrollbar-thumb{
  background-color: $success;
}
.thumb-primary::-webkit-scrollbar-thumb{
  background-color: $primary;
}
.thumb-dark::-webkit-scrollbar-thumb{
  background-color: $dark;
}
.thumb-light::-webkit-scrollbar-thumb{
  background-color: $light;
}
.thumb-info::-webkit-scrollbar-thumb{
  background-color: $info;
}
.thumb-secondary::-webkit-scrollbar-thumb{
  background-color: $secondary;
}
.thumb-danger::-webkit-scrollbar-thumb{
  background-color: $danger;
}
.thumb-warning::-webkit-scrollbar-thumb{
  background-color: $warning;
}

//margins

.me-125{
  margin-right: 125px;
}

.ml-125{
  margin-left: 125px;
}
.ml-250{
  margin-left: 250px;
}

//disabled button
.rounded-card-10.btn-light.btn-light-hover.w-160px.h-50px:disabled {
  color: $light;
  background-color: $secondary;
  opacity: 1;
}